<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 确保CSS和JS文件路径正确 -->
    <link href="../static/css/viewer.css" rel="stylesheet">
    <link href="../static/local/css/goodsList.css" rel="stylesheet">
    <link href="../static/css/layer.css" rel="stylesheet">
    <link href="../static/local/css/page.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{head.html}">顶部</div>
<div id="middle">
    <!-- ... 其他内容 ... -->
    <form action="/admin/goods/gotoAddGoods" method="get"> <!-- 如果是获取数据，使用GET方法 -->
        <input type="submit" value="添加商品">
    </form>
    <!-- ... 商品列表 ... -->
    <tr th:each="goods : ${goodsListPage.list}">
        <!-- ... 其他列 ... -->
        <td>
            <!-- 使用表单进行删除操作 -->
            <form th:action="@{/admin/goods/delGoods/__}" method="post">
                <input type="hidden" name="id" th:value="${goods.id}">
                <input type="submit" value="删除">
            </form>
            <!-- AJAX删除操作需要JavaScript函数支持 -->
            <a href="javascript:void(0);" th:onclick="'delGoods('+${goods.id}+')'">删除(ajax)</a>
            <!-- ... 编辑链接 ... -->
        </td>
    </tr>
    <!-- ... 分页组件 ... -->
    <div th:replace="~{page.html::myPage(${goodsListPage},'/admin/goods/getGoodsList')}"></div>
    <!-- ... 其他内容 ... -->
</div>
<div id="bottom" th:replace="~{bottom.html}">底部</div>

<!-- 确保JavaScript文件路径正确 -->
<script th:src="@{/js/viewer.js}"></script>
<script th:src="@{/js/jquery-viewer.js}"></script>
<script th:src="@{/local/js/goodsList.js}"></script>
<script th:src="@{/js/layer.js}"></script>
</body>
</html>