<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/local/css/goodsList.css}" rel="stylesheet">
    <link th:href="@{/local/css/page.css}" rel="stylesheet">
</head>
<body>
<div id="top" th:replace="~{head.html}"></div>
<div id="middle">
    <div id="left" th:replace="~{left.html::left}"></div>
    <div id="right">
        <form th:action="@{/admin/users/getUserList}" method="get">
            <label>会员名</label>
            <input type="text" name="realName">

            <label >性别</label>
            <select name="gender">
                <option value="">全部</option>
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
            <input type="submit" value="查询">
        </form>
        <div id="msg" th:text="${msg}"></div>
        <table>
            <tr>
                <th>用户ID</th>
                <th>登录名</th>
                <th>姓名</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>所在城市</th>
                <th>邮箱</th>
                <th>积分</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
            <tr th:each="user:${userListPage.list}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getLoginName()}"></td>
                <td th:text="${user.getRealName()}"></td>
                <td th:text="${user.getGender()}"></td>
                <td th:text="${#dates.format(user.getBirthday(),'yyyy-mm-dd')}"></td>
                <td th:text="${user.getCity()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getCredit()}"></td>

                <td th:text="${#dates.format(user.getRegtime(),'yyyy-mm-dd hh:MM:ss')}"></td>
                <td>
                    <a th:href="@{/admin/users/delUser/} + ${user.getId()}">删除</a>
                </td>
            </tr>
        </table>
        <div th:replace="~{page.html::myPage(${userListPage},'/admin/users/getUserList')}"></div>
    </div>
</div>
</div>
<div id="bottom" th:replace="~{bottom.html::bottom}"></div>

</body>

</html>